.widgetList {
  max-width:50%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  & > div {
    border-bottom: var(--component-border);
  }

  & > div:last-child {
    border-bottom: 0;
  }
}
