:root {
  --mainBackgroundColor: #FEFEFE;
  --mainTextColor: #000000;
  --highlightColor: #1DB799;
  --overlayTextColor: #FFFFFF;
  --overlayBackgroundColor: #222222;

  --buttonBackgroundColor: var(--highlightColor);
  --buttonTextColor: var(--overlayTextColor);
  --buttonDisabledBackgroundColor: var(--overlayBackgroundColor);
  --buttonDisabledTextColor: var(--overlayTextColor);
}

html, body, :global(#root) {
  padding: 0;
  margin: 0;
  height: 100%;
}
