.layout {
  & > :nth-child(2) {
    display: flex;
    background-color: #7F7F7F;
    flex-direction: row;
    align-items: stretch;
    justify-content:space-between;
    & > div {
      flex-grow: 1;
    }
  }
}
