.driverProfile {

  overflow: hidden;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  display: flex;
  justify-content: center;
  border: 2px solid #7f7f7f;

  & .image {
    max-height: 100%;
  }
}